@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Header */
.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__logo > h2{
    white-space: nowrap;
    font-size: 1rem;
}

.header > nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.header > nav > button{
    display: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.header nav > p{
    font-weight: normal;
    font-size: 12px;
}

@media screen and (min-width:640px){
    .header{
        padding: 0 2rem;
    }

    .header nav > p{
        font-weight: bold;
        font-size: 1rem;
    }
}

@media screen and (min-width:1024px){
    .header{
        justify-content: space-around;
        gap: 1rem;
    }
    .header > nav > button{
        display: block;
    }
}


/* --------------------------------- */

/* section - apresentacao */
.apresentacao{
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    gap: 1rem;
    padding: 10px;
}

.apresentacao > img{
    object-fit: cover;
    height: 98px;
    width: 98px;
    border-radius: 50%;
}

.apresentacao__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.apresentacao__titulo{
    font-size: 1.1rem;
}

.apresentacao__paragrafo{
    font-size: 1rem;
    text-align: justify;
    font-weight: 400;
}

.apresentacao__links{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.apresentacao__links > a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

@media screen and (min-width:640px){
    .apresentacao{
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
    }

    .apresentacao > img{
        height: 146px;
        width: 146px;
    }

    .apresentacao__container{
        width: 524px;
    }   

    .apresentacao__links{
        justify-content: start;
    }

}

@media screen and (min-width:1024px){
    .apresentacao{
        padding: 0;
        width: 80%;
        align-items: center;
    }

    .apresentacao > img{
        height: 300px;
        width: 300px;
    }

    .apresentacao__titulo{
        font-size: 1.5rem;
    }

    .apresentacao__paragrafo{
        font-size: 1.2rem;
    }
}

@media screen and (min-width:1200px){
    .apresentacao__container{
        width: 751px;
    }

    .apresentacao__titulo{
        font-size: 2.5rem;
    }
}

/* --------------------------------- */

/* sobre mim */
.sobremim{
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobremim__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

.sobremim__titulo{
    font-size: 2.5rem;
}

.sobremim__container > img{
    height: 52px;
    width: 140px;
}

@media screen and (min-width:640px){
    .sobremim__container{
        padding: 2rem;        
    }
}

@media screen and (min-width:1024px){
    .sobremim{
        height: 382px;
    }

    .sobremim__container{
        padding: 0;
        width: 80%;
    }

    .sobremim__paragrafo{
        width: 752px;
    }
}

/* --------------------------------- */

/* skills */
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.skills__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem ;
}

.icon{
    background-color: white;
    height: 174px;
    width: 176px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
    gap: 0.5rem;
    border-radius:0.25rem;
}

.icon > img{
    height: 50px;
    width: 50px;
}

.icon > h1{
    font-size: 1rem;
}

.icon:nth-child(1) > h1, 
.icon:nth-child(2) > h1, 
.icon:nth-child(4) > h1{
    margin-left: 6px;
}

/* --------------------------------- */

/* hobbies */
.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.hobbies__card__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.hobbies__card{
    background-color: white;
    height: 174px;
    width: 176px;
    border-radius:0.25rem;
}

/* --------------------------------- */

.formacao__academica{
    height: 781px;
    padding: 20px 0px;
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.formacao__container__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.formacao__card{
    background-color: white;
    width: 296px;
    height: 169px;
}

@media screen and (min-width:640px){
    .formacao__academica{
        padding: 0;
        height: 581px;
    }
}

@media screen and (min-width:1024px){
    .formacao__card{
        height: 286px;
        width: 298px;
    }
}

@media screen and (min-width:1200px){
    .formacao__card{
        height: 286px;
        width: 368px;
    }
}

.experiencia__profissional{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.experiencia__container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.experiencia__cards{
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experiencia__cards > img{
    height: 144px;
    border-radius: 5px;
}
.informacoes__projeto{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 110px;
}

.informacoes__projeto > h1{
    font-size: 16px;
}

.informacoes__projeto > h2{
    font-size: 14px;
}

.container__links{
    margin-top: 5px;
}

.container__links > a{
    background-color: rgb(88, 88, 167);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 3px;

    border-radius: 2px;
    color: white;
}

.container__links > a:nth-child(2){
    background-color: rgb(50, 50, 50);
    color: white;
}

/* --------------------------------- */
.footer{
    color: #373737;
    height: 102px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}